/*
  Things to figure out:
    1. SPACING of boxes!
        - positioning, absolute, padding, borders etc
*/


body{
  background-color: Wheat;
}

.titleOfPage {
  font-family: Verdana;
  font-weight: bold;
  font-size: 40px;
  height: 50px;
  width: 1300px;
  border: 5px solid SteelBlue;
  background-color: Coral;
  border-radius: 5%;
  text-align: center;
  margin-left: 20px;
}

/* Figure out how to make box size dependent on amt of content*/
.middle-box{
  font-size: 20px;
  font-family: Verdana;
  height: 500px;
  width: 700px;
  border: 3px solid blue;
  background-color: silver;
  margin-left: 350px;
  margin-top: 20px;
  text-align: center;
}

ul{
    text-align: left;
}

#sub-list{
  font-size: 14px;
}
