/*
  Things to figure out:
    1. SPACING of boxes!
        - positioning, absolute, padding, borders etc
*/


body{
  background-color: Wheat;
}

.titleOfPage {
  margin-left: 20px;
  position: relative;
  height: 50px;
  width: 1300px;
  border: 5px solid SteelBlue;
  background-color: Coral;
  border-radius: 5%;
  font-family: Verdana;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.Left-Col{
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 4px solid cornflowerblue;
  background-color: gainsboro;
  height: 1000px;
  width: 150px;
  font-family: Verdana;
  font-size: 12px;
  text-align: center;
}

/* Figure out how to make box size dependent on amt of content*/
.middle-box{
  position: relative;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  height: 1000px;
  width: 700px;
  border: 4px solid blue;
  border-radius: 10%;
  background-color: silver;
  font-size: 20px;
  font-family: Verdana;
  text-align: center;
}

ul{
    text-align: left;
}

.sub-list{
  font-size: 14px;
}

a:hover{
  color: RebeccaPurple;
  text-decoration: none;
}

a:visited{
  color: DimGray;
}

#citation{
  font-size: 11px;
}
